

section.project_cover{background-image: url('../img/main/title_img/amore.jpg');}

section.visual_area > img {width: 60%; border-radius: 30px;}

@media all and (max-width: 500px){
    section.visual_area > img {width: 90%; border-radius: 30px;}
}