

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* --- Common --- */
body{background: #e7e7e7; font-family: 'Nanum Myeongjo', 'Noto Sans KR'; color: #454545; overflow-x: hidden;}
a{text-decoration: none;}
body.is_change{transition: 800ms; opacity: 0;}

header{display: flex; height: 80px; width: 100%; align-items: flex-end; justify-content: space-between; font-size: 18px; position: fixed; z-index: 99;}
header a{transition: 500ms;}
header > div{margin-left: 150px; line-height: 20px;}
header > div > a{color: #454545;}
header > div > a:hover{letter-spacing: 2px;}
header > nav{margin-right: 150px;}
header > nav > ul{}
header > nav > ul > li{float: left;}
header > nav > ul > li:first-child{margin-right: 60px;}
header > nav > ul > li > a{position: relative; color: #454545;}
header > nav > ul > li > a::after{position: absolute; content: ""; display: inline-block; width: 0; height: 2px; background-color: #454545; border-radius: 1px; bottom: -5px; left: 0; transition: 500ms;}
header > nav > ul > li > a:hover::after{width: 100%;}
header.is_white a{color: #fff;}
header.is_white a::after{background-color: #fff;}


/* --- Project Page --- */
/* Project Cover */
section.project_cover{width: 100vw; height: 100vh; background-position: center; background-size: cover;}
section.project_cover > h1{color: #fff; font-size: 130px; position: absolute; left: 150px; pointer-events: none; animation: intro_title 1s forwards linear;}
@keyframes intro_title{
    0%{opacity: 0; bottom: 230px;}
    100%{opacity: 1; bottom: 250px;}
}


/* Txt Area */
section.txt_area{font-family: 'Noto Sans KR';}
section.txt_area > div{margin: 200px 0 0 20%; display: flex;}
section.txt_area > div > div.txt_left{margin-right: 150px; font-size: 18px;}
section.txt_area > div > div.txt_left > span{color: #454545; font-weight: 400;}
section.txt_area > div > div.txt_left > ul{padding-left: 20px; border-left: 1px solid #727272; margin-top: 30px;}
section.txt_area > div > div.txt_left > ul > li{color: #727272; font-weight: 300; margin-bottom: 20px;}
section.txt_area > div > div.txt_right{font-size: 18px; font-weight: 400;}
section.txt_area > div > div.txt_right > p{color: #454545; line-height: 27px; margin-bottom: 25px;}
section.txt_area > div > div.txt_right > a{color: #a4a4a4; transition: 500ms; font-weight: 400;}
section.txt_area > div > div.txt_right > a > span{font-family: fontello; margin-right: 10px;}
section.txt_area > div > div.txt_right > a:hover{color: #454545; letter-spacing: 1px;}
section.txt_area > div > div.txt_right > a:nth-child(2){margin-right: 50px;}


/* Visual Area */
section.visual_area{width: 100%; padding-top: 100px; text-align: center;}


/* Next Area */
section.next_area{font-family: 'Noto Sans KR';}
section.next_area > div{margin: 270px 20%;display: flex;}
section.next_area > div > a > img{width: 500px; border-radius: 30px; transition: 1000ms;}
section.next_area > div > div{margin-left: 65px;}
section.next_area > div > div > span{font-size: 18px; font-weight: 400; color: #727272; pointer-events: none;}
section.next_area > div > div > a{display: flex;align-items: center;}
section.next_area > div > div > a > span{font-family: fontello; margin-right: 0px; font-size: 0px; color: #454545; transition: 200ms;}
section.next_area > div > div > a > span.active_next{margin-right: 10px; font-size: 25px;}
section.next_area > div > div > a > h2{margin: 25px 0 ; font-size: 36px; color: #454545; font-weight: 500; display: inline-block;}
section.next_area > div > div > ul{padding-left: 15px; border-left: 1px solid #727272; pointer-events: none;}
section.next_area > div > div > ul > li{font-size: 18px; font-weight: 300; color: #727272; margin-bottom: 15px;}


/* Footer */
footer{width: 100%; height: 420px; display: flex; justify-content: center; color: #454545; font-family: 'Noto Sans KR'; font-weight: 400;}
footer > div{width: 80%; height: 100%; border-top: 1px solid #727272; display: flex; align-items: center;justify-content: space-between;}
footer > div > p{margin-left: 60px;font-size: 20px; line-height: 30px;}
footer > div > ul{margin-right: 60px; display: flex;} 
footer > div > ul > li{float: left; font-size: 20px;}
footer > div > ul > li:first-child{margin-right: 60px;}
footer > div > ul > li > ul{}
footer > div > ul > li > ul > li{font-size: 20px; font-weight: 400; line-height: 30px; margin-bottom: 25px;}
footer > div > ul > li > ul > li > span{color: #727272; font-size: 17px; font-weight: 300;}
footer > div > ul > li > ul > li > a{color: #454545; text-decoration: underline;}

@media all and (max-width:1550px){
    footer > div{flex-direction: column; justify-content: center; text-align: center;}
    footer > div > p{margin: 0 0 50px;font-size: 20px; line-height: 30px;}
    footer > div > ul{margin-right: 0px; display: flex;} 
}

@media all and (max-width:1250px){
    header{font-size: 16px;}
    header > div{margin-left: 50px;}
    header > nav{margin-right: 50px;}
    header > nav > ul > li:first-child{margin-right: 60px;}

    section.project_cover > h1{left: 50%; transform: translateX(-50%);font-size: 60px;}

    section.txt_area > div{flex-direction: column;}
    section.txt_area > div > div.txt_left{display: flex;flex-direction: column; margin-bottom: 30px; width: 100%;}
    section.txt_area > div > div.txt_left > ul{padding-left: 0px; border-left: 0px; margin: 0px;}
    section.txt_area > div > div.txt_left > ul > li{font-size: 16px; margin: 20px 10px 0 0; float: left;}
    section.txt_area > div > div.txt_right{font-size: 16px;}
    section.txt_area > div > div.txt_right > p{line-height: 25px;}

    section.next_area > div{flex-direction: column;}
    section.next_area > div > a > img{width: 100%;}
    section.next_area > div > div{margin:50px 0 0;}
}

@media all and (max-width: 500px){
    section.project_cover > h1{left: 50%; transform: translateX(-50%);font-size: 30px;}

    section.txt_area > div{margin: 100px 10% 0;}

    section.next_area > div{margin: 100px 5%; }
    section.next_area > div{flex-direction: column;}
    section.next_area > div > a > img{width: 100%;}
    section.next_area > div > div{margin:50px 0 0;}

    footer{width: 100%; height: 100%; display: inline-flex;}
    footer > div{padding-top: 50px; margin-bottom: 50px;}
    footer > div > p{margin: 0 0 50px; font-size: 16px;}
    footer > div > ul{flex-direction: column;}
    footer > div > ul > li:first-child{margin-right: 0px;}
    footer > div > ul > li > ul > li{font-size: 16px; margin-bottom: 30px;}
    footer > div > ul > li > ul > li > span{font-size: 16px;}
}