
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


body{background: #e7e7e7; font-family: 'Nanum Myeongjo', 'Noto Sans KR'; color: #454545;}
a{text-decoration: none; color: #454545;}


header{display: flex; height: 80px; width: 100%; align-items: flex-end; justify-content: space-between; font-size: 18px; position: fixed; z-index: 99;}
header > div{margin-left: 150px; line-height: 20px;}
header > nav{margin-right: 150px;}
header > nav > ul{}
header > nav > ul > li{float: left;}
header > nav > ul > li:first-child{margin-right: 60px;}
header > nav > ul > li > a{}


section{}
section > ul{width: 100%; height: 100%;}
section > ul > li{width: 100%; height: 100%;display: flex; position: absolute; align-items: center; justify-content: center; pointer-events: none;}
section > ul > li > a{display: flex; align-items: center; justify-content: center; height: 100px;}
section > ul > li > a > img{z-index: 2; position: absolute; transition: 500ms;opacity: 0;}
section > ul > li > a > div{display: inline-block; width: 30vw; height: 30vw; background-position: center; background-size: cover; border-radius: 50%; transition: 1000ms; opacity: 0;}
section > ul > li:nth-child(1) > a > img{width: 60%;}
section > ul > li:nth-child(1) > a > div{background-image: url('../img/main/title_img/amore.jpg');}
section > ul > li:nth-child(2) > a > img{width: 55%;}
section > ul > li:nth-child(2) > a > div{background-image: url('../img/main/title_img/inter.png');}
section > ul > li:nth-child(3) > a > img{width: 42%;}
section > ul > li:nth-child(3) > a > div{background-image: url('../img/main/title_img/port.jpg');}
section > ul > li:nth-child(4) > a > img{width: 28%;}
section > ul > li:nth-child(4) > a > div{background-image: url('../img/main/title_img/secret.jpg');}
section > ul > li > span{position: absolute; bottom: 100px; opacity: 0; transition: 500ms;}

section > ul > li.active_project{pointer-events: all;}
section > ul > li.active_project > a > img{opacity: 1;}
section > ul > li.active_project > a > div{opacity: 0.6;}
section > ul > li.active_project > a:hover > div{opacity: 1;}
section > ul > li.active_project > span{opacity: 1;}

section > ul > li.click_project{pointer-events: none;}
section > ul > li.click_project > a > img{opacity: 0;}
section > ul > li.click_project > a > div{opacity: 1; width: 100vw; height: 100vh; border-radius: 0;}
section > ul > li.click_project > span{opacity: 0;}


section > div.order_wrap{position: absolute; right: 150px; top: 50%; transform: translateY(-50%); display: flex; flex-direction: column; align-items: center; transition: 500ms;}
section > div.order_wrap > span.order_txt{margin: 40px 0; pointer-events: none;}
section > div.order_wrap > button{width: 30px; height: 30px; font-size: 25px; font-family: fontello; margin: 0; padding: 0; background: transparent; border: 0px; outline: none; color: #b0b0b0; cursor: pointer; transition: 500ms;}
section > div.order_wrap > button:hover{color: #454545;}
section > div.click_project{opacity: 0; pointer-events: none;}

section > div.order_wrap_horizontal{position: absolute; left: 50%; bottom: 150px; transform: translateX(-50%); display: flex; align-items: center; transition: 500ms; opacity: 0; pointer-events: none;}
section > div.order_wrap_horizontal > span.order_txt{margin: 0 40px; pointer-events: none;}
section > div.order_wrap_horizontal > button{width: 30px; height: 30px; font-size: 25px; font-family: fontello; margin: 0; padding: 0; background: transparent; border: 0px; outline: none; color: #b0b0b0; cursor: pointer; transition: 500ms;}
section > div.order_wrap_horizontal > button:hover{color: #454545;}

@media all and (max-width:1250px){
    header{font-size: 16px;}
    header > div{margin-left: 50px;}
    header > nav{margin-right: 50px;}
    header > nav > ul > li:first-child{margin-right: 60px;}
    
    section > div.order_wrap{opacity: 0; pointer-events: none;}
    section > div.order_wrap_horizontal{opacity: 1; pointer-events: all;}
}