

section.project_cover{background-image: url('../img/main/title_img/port.jpg');}
section.project_cover > h1{color: #454545;}

section.visual_area{}
section.visual_area h2{color: #454545; font-family: 'Noto Sans KR'; font-size: 25px; font-weight: 400; margin-bottom: 30px;}
section.visual_area img{ border-radius: 30px;}
section.visual_area > div.main_project{width: 60%; margin: 0 auto;display: flex; justify-content: space-between;}
section.visual_area > div > div.main_page{width: 40%; text-align: left;}
section.visual_area > div > div.project_page{width: 40%; text-align: right; margin-top: 50%;}
section.visual_area > div > div> img{width: 100%;}

section.visual_area > div.about_page{width: 60%; text-align: left; margin: 200px auto 0 ;}
section.visual_area > div.about_page > img{width: 70%;}
section.visual_area > div.contact{width: 60%; text-align: right; margin: 200px auto;}
section.visual_area > div.contact > img{width: 70%;}
section.visual_area > div.lab_page{width: 60%; text-align: center; margin: 0 auto;}
section.visual_area > div.lab_page > img{width: 100%;}


