

section.project_cover{background-image: url('../img/main/title_img/secret.jpg');}

section.visual_area{}
section.visual_area > ul{width: 60%; margin: 0 auto;}
section.visual_area > ul > li{width: 100%; margin: 50px 0;}
section.visual_area > ul > li > img{width: 100%; border-radius: 30px;}

@media all and (max-width: 500px){
    section.visual_area > ul{width: 90%;}
}