

section.project_cover{background-image: url('../img/main/title_img/youtube.png');}
section.project_cover > h1{color: #454545;}

section.visual_area > img {width: 60%; border-radius: 30px; margin: 0 0 50px;}
section.visual_area > div{width: 60%; display: flex; margin: 0 auto 50px; justify-content: space-between;}
section.visual_area > div > img{width: 47%; border-radius: 30px;}

@media all and (max-width: 500px){
    section.visual_area > img {width: 90%; border-radius: 30px;}
    section.visual_area > div{width: 90%;}
}